<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    {% if name== 'Vikash' %}  <!--jinja2 also supports if-else statement -->

       {% for i in range(4) %}

           <h1> {{i}} Hello, {{name}} !</h1><br>  <!--Jinja Template: To take input from frontend and push to backend-->
           <h2>Welcome to the Website!!!</h2><br>
           <p>Flask is a micro web framework written in Python. It is designed to make getting started with web development quick and easy, while offering the flexibility to scale up to complex applications. </p> <!--To wrap to long line: ALT + Z -->

       {% endfor %}

    {% else %}
        <h1>Invalid User!</h1>
        
    {% endif %} <!--It is required to close if statement-->
</body>
</html>